.bio-cover-container {
  height: 91vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  .ant-image,
  .cover-mask {
    position: fixed;
    top: 0;
    margin-top: 64px;
    width: 100%;
    padding: 0 2%;
  }

  .cover-mask {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .bio-cover-text {
    position: relative;
    text-align: center;
    top: 65%;
    left: 50%;
    font-family: "Times New Roman";

    .bio-cover-title {
      position: relative;
      left: -50%;
      color: white;
      font-size: 1.5cm;
    }

    .bio-cover-button {
      position: relative;
      left: -50%;
      background-color: transparent;
      color: white;
    }

    .bio-cover-button::after {
      display: none;
    }

    .bio-cover-button:hover,
    .bio-cover-button:focus {
      border-color: white;
    }
  }
}
