.pf-container {
  position: relative;
  background-color: #f0f2f5;
  padding-top: 5%;
  text-align: center;

  .pf-logo {
    width: 95px;
  }

  .pf-title {
    margin-bottom: 4%;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  .pf-row {
    margin: 3% 20% 0 20%;

    .pf-link {
      padding-right: 3%;
      text-align: right;
      font-family: sans-serif;
      letter-spacing: 1px;
    }

    .pf-col {
      margin-top: 4%;
      padding: 0% 3% 2% 3%;
    }
  }

  .ant-card-cover {
    padding-bottom: 0;
  }

  .ant-card-body {
    padding: 2% 5%;
  }
}
