.pf-container {
  position: relative;
  background-color: #f0f2f5;
  padding-top: 5%;

  .pf-row {
    margin: 0 20%;

    .pf-col {
      padding: 0% 3% 5% 3%;
      align-self: stretch;
    }
  }

  .ant-card-bordered, 
  .ant-card-cover {
    margin: 7px;
  }
}
