.pf-card-meta-container {
  position: relative;
  text-align: left;

  .ant-image {
    position: absolute;
    top: 0px;
    width: 100px;
    max-width: 100px;
    right: 0;
    height: 500px;
  }

  .meta-title-container {
    display: inline-block;
    border-bottom: 3px solid rgb(0, 0, 0, 0.5);
    border-width: 100%;
    margin-bottom: 1%;

    .meta-title {
      margin: 15% 0 0 0;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 300;
    }
  }

  .meta-children {
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // letter-spacing: 0.5px;
  }

  .meta-date {
    padding-top: 3%;
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: 600;
  }
}
