.pf-card-meta-container {
  position: relative;
  text-align: left;

  .ant-image {
    position: absolute;
    top: 0px;
    width: 100px;
    max-width: 100px;
    right: -4%;
    height: 500px;
  }

  .meta-title-container {
    display: inline-block;
    border-bottom: 2px solid #9dd9c5;
    border-width: 100%;
    margin-bottom: 1%;

    .meta-title {
      margin: 15% 0 0 0;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 500;
    }
  }

  .meta-children {
    font-size: 14px;
  }

  .meta-date {
    padding-top: 3%;
    text-align: right;
    font-family: "Times New Roman";
    font-weight: 600;
  }
}
