.short-intro-container {
  width: 100%;
  height: 25vh;
  position: relative;
  background: white;

  .short-intro-title {
    text-align: center;
  }

  .short-intro-paragraph-space {
    max-width: 500px;
  }
}
