.funding-container {
    .cover-title {
			text-align: center;
			margin: auto;
			width: 100%;
			// padding: 10px;
    }
		.funding-description {
			font-style: oblique;
			margin :auto;
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
			color: gray;
		}
}
