.funding-deadline-container {
  .funding-deadline {
    color: #656969;
    font-size: 30px;
    margin-bottom: -5px;
  }

  .funding-deadline-description {
    margin-bottom: 0;
    color: #656969;
  }
}

.funding-supporter-container {
  .funding-supporter {
    color: #656969;
    font-size: 30px;
    margin-bottom: -5px;
  }

  .funding-supporter-description {
    color: #656969;
    margin-bottom: 0;
  }
}
