.funding-description-container {
  margin: 3% 5%;
  padding-left: 3%;

  .funding-title {
    margin: auto;
  }

  .funding-progress {
    color: #1aa170;
    margin-bottom: 0;
  }

  .funding-button {
    margin-top: 4%;

    height: 50px;
    width: 100%;

    font-size: 18px;
    color: white;

    border-color: #1aa170;
    border-width: 1px;

    background: #1aa170;
  }
}
