.funding-description-container {
	margin: 3% 5%;
	height: auto;
	.funding-title {
		font-family: "Times New Roman";
		margin: auto;
		width: 100%;
		text-align: center;
		
	}
	.funding-deadline {
		margin : 0 auto;
		width: 100%;
		text-align: left;
		color: black;
	}
	.funding-reward-description {
		margin : 20 auto;
		width: 100%;
		text-align: left;
		color: black;
	}
	.funding-deadline-description {
		width: 100%;
		text-align: left;
		color: gray;
	}
	.funding-progress {
		font-family: "Times New Roman", Times, serif;;
		padding-top: 10px;
		width: 100%;
		text-align: center;
		color: black;
	}
	.funding-button {
		width: 100%;
		text-align: center;
		font-family: serif;
		font-size: 30px;
		color: green;
		border-color: green;
		border-radius: 30px;
		border-width: 1px;
		height: 50px;
	}
}