.funding-container {
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;

  padding-top: 1.8rem;
  margin-bottom: 1.6rem;

  .cover-title {
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
    color: #282828;
  }

  .funding-description {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
    color: #282828;
  }
}
