.funding-notice-container{
	background-color: rgb(222, 236, 218);
	max-width: 100%;
	height: 100px;
	.funding-notice-text{
		padding-top: 10px;
		font-size: 15px;
		color: black;
		text-align: center;
		margin: auto;
		width: 85%;
	}
}
