.funding-description-specific {
	margin-top: 10%;
	margin-left: 25%;
	.title{
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.description {
		font-size: 16px;
		margin-bottom: 10px;
	}
}